.opacity-0 {
      opacity: 0;
     
    }
    
    .translate-y-20 {
      transform: translateY(20px);
    
    }
    
    .opacity-100 {
      opacity: 1;
    
    }
    
    .translate-y-0 {
      transform: translateY(0);
    
    }
    
    .transition {
      transition: all 0.7s ease-in-out;
    }
    